body {
  background: #020617;
  color: white;
  font-family: Arial;
}

.box {
  width: 350px;
  margin: 80px auto;
  text-align: center;
}

input, textarea {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

textarea {
  height: 100px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  background: #6366f1;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

#posts {
  text-align: left;
  margin-top: 10px;
}
